*.scenario
*.user
.DS_Store
.cache
.idea
.vscode/
.vscode/settings.json
Debug/
Release/
Doxyfile.bak
bin/
*build*/
cmake-build*/
compile_commands.json
dat/
docker-build/
html/
lintlogs/
nbproject/
wise_bd
toolchain*.cmake
clion_compound/
test.txt
